#git+https://github.com/pata-tech/pyqt-node-editor@master
pyglm
moderngl
pygame
gif2numpy
scipy
sounddevice
pyqt5
matplotlib
pyusb
git+https://github.com/theof/bytechomp.git@main
ifaddr
pydantic
pygltflib
pyyaml
pyrr
pyqtgraph
librosa