git+https://github.com/pata-tech/pyqt-node-editor@master
opencv-python-headless
pyglm
moderngl
pygame
gif2numpy
# numpy 2.3 removed implicit size-1-array -> scalar conversion, which
# program_base.py relies on when binding uniforms (struct.error:
# 'required argument is not a float'). Unpin once that is fixed.
numpy<2.3
scipy
sounddevice
pyqt5
matplotlib
libusb-package
pyusb
keyboard
git+https://github.com/theof/bytechomp.git@main
ifaddr
pydantic
pygltflib
pyyaml
pyrr
pyqtgraph
librosa
